---
const res = await fetch('http://localhost:3000/api/sorteos');
const sorteos = await res.json();
---

<html lang="es">
  <head>
    <title>Listado de Sorteos</title>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <h1 class="text-2xl font-bold p-4">Sorteos disponibles</h1>

    <ul class="p-4">
      {sorteos.map((s) => (
        <li class="border-b py-2">{s.nombre}</li>
      ))}
    </ul>
  </body>
</html>
